
* {
    box-sizing: border-box;
}
html { 
    overflow-x:  hidden;
 }

body {
    font-family: "open sans";
    color: #FFF;
    font-size: 14px;
    line-height: 21px;
    -webkit-font-smoothing : antialiased;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
h1, h2, h3, h4, p {
    margin: 0;
}
.btn {
    display: inline-block;
    background: #F5170E;
    border: 1px solid #F5170E;
    border-radius: 35px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    padding: 18px 40px;
    }
    .btn:hover{
        background: #F5170E;
        box-shadow:  0px 2px 4px rgba(218, 1, 0, 0,3) #DA0100;
    }
    .btn--size-middle {
        padding: 18px 30px;
    }
    .btn--them-bordered {
        background-color: transparent;
        color: #F5170E;
    }
    .btn--them-bordered:hover {
        background-color: #F5170E;
        color: #FFF;
    }
    .container {
        width: 1140px;
        margin: 0 auto;
        position: relative;
    }
.header{
    height: 120px ;
    position: relative;
    margin-bottom: 77px;
    padding-top: 29px;
}
.wrapper-main {
 background: url(img/hero.png) center top  no-repeat,
  url(img/fon2.png) center bottom no-repeat, #001821;
}

.logo {
    display: block;
    width: 85px;
height: 36px;
}
.logo__link {
    display: block;
}
.logo__img{
    max-width: 100%;
}

.menu {
   position: absolute;
   left: 163px;
   top: 11px;
}
.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
    list-style-type: none;
}
.menu__item:last-child {
    margin-right: 0;
}
.menu__link:hover {
    color: #DA0100;
}
.contacts{
    position: absolute;
   right: 0;
    top: 3px;
    font-style: normal;
    text-align: right;
}
.contacts__phone {
    display: block;
    line-height: 1;
    font-size: 26px;
 }
.contacts__schedule{
    font-size: 13px;
    line-height: 1.3;
 }
 .contacts__text {
    color: #FFF;
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 4px;
}
.main {
    margin-bottom: 51px;
}
.preview {
    margin-bottom: 243px ;
}
.preview__content{ 
    width: 511px;
}
.preview__title {
font-size: 72px;
line-height: 98px;
margin-bottom: 27px;
}
.preview__text{
margin-bottom: 33px;
font-size: 18px;
line-height: 20px;
}

.tours {
    margin-bottom: 125px;
  
}
.tours__title {
    font-size: 36px;
    line-height: 49px;
    font-weight: bold;
    margin-bottom: 51px;
    display: inline-block;
    vertical-align: middle;
}
.tours__title-icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.tours__item {
    background: #FFF;
    border-radius: 4px;
    display: inline-block;
    margin-right: 15px;
    width: 362px;
    margin-right: 23px;   
}
.tours__item:last-child {
    margin-right: 0;
}
.tourse__img {
    width: 100%;
    height: 144px;
}

.tours__img-include {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}
.tours__content {
    padding: 33px 16px 26px 22px;
    color: #303030;
}

.tours__conditions {
    color: #666;
}
.tours__subtitle {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 21px;
}
.tours__conditions {
    padding-left: 5px;
    margin-bottom: 23px;
}
.tours__conditions-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 22px;
}
.tours__conditions-item:last-child {
    margin-right: 0;
}
.tours__conditions-img{
    display: inline-block;
    vertical-align: middle;
}
.tours__conditions-case {
    font-size: 16px;
    line-height: 22px;
    color: #666;
    margin-right: 9px;
    display: inline-block;
    vertical-align: middle;
}

.tours__description {
    color: #303030;
    line-height: 21px;
    margin-bottom: 24px ;
}
.news {
    margin-bottom: 145px;
}

.news__title {
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 51px;
}
.news__list {
    margin-bottom: 54px ;
}
.news__item {
    width: 557px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 21px;
}
.news__item:last-child {
    margin-right: 0;
}
.news__img {
    display: block;
    width: 100%;
    height: 100%;
object-fit: cover;
}
.news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 170px;
    padding: 30px;
}
.news__date {
    display: block;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 12px;
}
.news__subtitle {
    font-size: 24px;
    line-height: 36px;
}
.news__text {
    font-size: 16px;
    line-height: 21px;
}
.paginator {
    text-align: center;
}
.paginator__display {
    margin-right: 21px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
   line-height: 20px;
}
.paginator__list {
    display: inline-block;
    vertical-align: middle;
}
.paginator__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: -2px;
}
.paginator__item-active .paginator__link  {
    background: #FFF;
    color: #F5170E;
}
.paginator__item:hover .paginator__link  {
    background: #FFF;
    color: #F5170E;
}
.paginator__link {
    font-weight: bold;
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
}

.about{
    position: relative;
}
.about__container {
    padding-top: 97px;
}

.about__decor {
     position: absolute;
    width: 490px;
    height: 505px;
    border-radius: 5px;
    top: 0;
    left: 0;
}
.about__decor-picture{  
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about__content {
    position: relative;
   display: block;
   background: url("./img/mountains.png") center center / cover no-repeat;
   width: 785px;
   min-height: 455px;
   padding: 70px 202px 66px 81px;
   border-radius: 5px;
   margin-left: auto;
}
.about__title {
    font-size: 36px;
    line-height: 49px;
    color: #000;
    margin-bottom: 37px;
}
.about__text {
    margin-bottom: 43px;
    font-size: 16px;
    line-height: 27px;
    color: #060606;
}
.about__text p {
margin-bottom: 20px;
}
.about__text p:last-child {
    margin-bottom: 0;
}
.footer-container__content{

    border-top: 1px solid #192f37;
    padding-top: 47px;
}
.footer {
    height: 150px;
    position: relative;
}
.footer__menu {
    top: 58px;
    left: 164px;
}
.footer__socials {
    top: 51px;
    right: 266px;
    position: absolute;
}
.footer__contacts {
    top: 46px;
    right: 0;
    display: block;
}
.social__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}
.social__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.social__item:last-child {
    margin-right: 0;
}



.social__icon-tg {
background-image: url("./img/telegram.png");

}

.social__icon-vk {
background-image: url("./img/vk.png");
}
.social__icon-fb {
background-image: url("./img/f.png");
}
.social__icon-in {
background-image: url("./img/in.png");
}

.social__icon-tg:hover {
  background-image: url("./img/tg.png");
     }
                
.social__icon-vk:hover {
     background-image: url("./img/vkontacteee.png");
     }
                
 .social__icon-fb:hover {
  background-image: url("./img/fbbb.png");
     }
                
.social__icon-in:hover {
   background-image: url("./img/instaa.png");
   }
  