body {
    font-family: "open sans";
    color: #FFF;
    font-size: 14px;
    line-height: 21px;
    -webkit-font-smoothing : antialiased;
}
body{
    background: #001821
}
a{
    color: inherit;
}
* {
    box-sizing: border-box;
}
html { overflow-x:  hidden; }
.header{
    height: 120px ;
    position: relative;
    margin-bottom: 150px;
}
.wrapper {
 background: url(img/hero.jpg.png) center top / cover no-repeat;
position:absolute;
width: 1260px;
height: 800px;
left: 0px; 
top: 0px;
right: 0; 
}
.logo {
    display: block;
    position:absolute ;
    left: 253px;
    top: 20px;
    
}
.logo__img{
    max-width: 150px;
    height: 26px;
    
}

.menu__list{
   position: absolute;
   width: 20px;
   height: 19px;
   left: 190px;
   top: 50px;
   margin-left: 100px;
   display: flex;
   align-items: center;
   
}
.menu__item {
    margin-left: 30px;
    list-style-type: none;
}
.menu__item:last-child {
    margin-right: 0;
}
.menu__link {
    font-size: 10px;
    font-style: normal;
    font-weight: 100;
    text-decoration: none;
    top: 5px;
    vertical-align: 400%
    
    
}
.menu__link:hover {
    color: #DA0100;
}
.contacts{
    position: absolute;
    width: 191px;
    height: 10px;
    left: 885px;
    top: 15px;
    
    }
    .contacts__phone {

    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-decoration: none;
  
    }
    .contacts__schedule{
margin-top: -11px;
       margin-left: 60px;
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 13px;
        text-align: right ;
        display: flex;
    align-items: center;
    text-decoration-line: underline;
    text-decoration: none;
    
    }
.preview { 
position: absolute;
width: 350px;
height: 150px;
left: 250px;
top: 100px;
}

h1{
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 1.2;
margin-bottom: 18px;
display: flex;
align-items: flex-end;

}
.preview__text{
font-size: 12px;
margin-bottom: 23px;
}
.preview__button-include {
background: #F5170E;
border: 1px solid #F5170E;
border-radius: 35px;
width: 115px;
height: 35px;
font-size: 9px;
color: #FFF;
font-weight: bold;
text-transform: uppercase;
text-decoration: none;
}
.tours {
    margin-bottom: 138px;
    margin-top: 405px;
    margin-left: 210px;
}
.tours__title {
    font-size:  36px;
    font-weight: bold;
    margin-bottom: 60px;
    margin-left: 40px;
}
.tours__item {
    height: 300px;
    background: #FFF;
    border-radius: 4px;
    display: inline-block;
    margin-right: 15px;
    width: 240px;
    
}
.tours__item:last-child {
    margin-right: 0;
}

.tours__img-include {
margin-bottom: 0px;
width: 240px;
}
.tours__content {
    padding: 0px 15px;
    line-height: 1;
    color: #303030;
}
.tours__title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
}
.tours__conditions {
    display: inline-block;
    width: 600px;
    font-size: 11px;
    color: #666;
    margin-right: 30px;
    display: flex;
   align-items: center;
}
.tours__conditions-item {
    margin-left: -40px;
     display: flex;
   align-items: center;
   margin-right: 80px;
}
.tours__conditions-img{
    width: 20px;
}
.tours__title-icon {
    width: 14px;
   
}
.tours__description {
    font-size: 10px;
    color: #303030;
}

.tours__button-include {
    background: #FFFFFF;
    border: 1px solid #F5170E;
    border-radius: 35px;
    width: 115px;
    height: 35px;
    font-size: 9px;
    color: #F5170E;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    
    }
    .tours__button-include:hover {
        background: #F5170E;;
        color: #FFF
    }
    .news__item {
        width: 380px;
        display: inline-block;
        vertical-align: top;
        position: relative;
    }
    .news__img {
        display: block;
        width: 100%;
    object-fit: cover;
    }
    .news {
        margin-left: 210px;
    }
.news__title {
    margin-left: 40px;
}
.news__content {
    
    width: 380px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-left: 25px; 
    min-height: 140px;

}
.news__date {
    font-size: 11px;
    margin-bottom: 18px;
}
.news__subtitle {
    font-size: 18px;
    font-weight: bold;
    width: 200%;
    margin-bottom: 5px;
}
.news__text {
    width: 380px;
    font-size: 11px;

}


.paginator {
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 315px;
}
.paginator__list , .paginator__display {
    
    vertical-align: middle;
    display: flex;
    align-items: center;
    font-size: 10px;
}
.paginator__list{
    margin-left: -30px;
}
.paginator__item {
    width: 20px;
    list-style-type: none;
}
.paginator__item-active {
    background: #FFF;
    color: #F5170E;
    border-radius: 50%;
}
.paginator__item:hover {
    background: #FFF;
    color: #F5170E;
    border-radius: 50%;
}

.about{
    background: url(img/fon2.png) center top / cover no-repeat;
    width: 1260px;
    height: 600px;
left: 0px;
top: 0px;
    position: relative;
    margin-top: 50px;
  
}
.about__content {
    margin-left: 480px;
    margin-top: -300px;
    position: relative;
    content: "";
    display: block;
    width: 540px;
    height: 320px;
    background: url("./img/mountains.png") center center / cover no-repeat;
}
.about__decor {
    margin-left: 260px;
    position: relative;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 40px;
}
.about__decor-picture{
    width: 300px;
    height:350px;
}
.about__title {
position: absolute;
width: 150px;
font-size: 26px;
margin-top: 50px;
margin-left: 40px;
color: #060606;
}
.about__text {
    margin-bottom: 42px;
  
}
.about__text p {
    position: absolute;
    margin-bottom: 20px;
    margin-top: 120px;
    width: 380px;
    margin-left: 40px;
    font-size: 12px;
    color:  #060606;
}
.about__text p:last-child {
    margin-bottom: 0;
}


.button {
    background: #F5170E;
    border: 1px solid #F5170E;
    border-radius: 35px;
    width: 115px;
    height: 35px;
    font-size: 9px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.about__button {
    position: absolute;
    margin-top: 250px;
    margin-left: 40px;
}
.footer-conteiner__content{

    border-top: 1px solid #fff;
   
}
.footer {
    height: 80px;
    position: relative;
    margin-top: -160px;
}
.contacts__text {
    color: #FFF;
    font-size: 9px;
    position: absolute;
    margin-left: 850px;
    margin-top: 20px;
}
.social__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    font-size: 9px;
    background: center center no-repeat;
}
.social__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.social__item:last-child {
    margin-right: 0;
}
.socials {
    top: 13px;
    right: 500px;
    position: absolute;
}
.footer__contacts-phone {
    position: absolute;
    margin-left: 870px;
    margin-top: 40px;
    font-size: 15px;
    text-decoration: none;
}

.social__icon-tg {
background-image: url("./img/telegram.png");

}

.social__icon-vk {
background-image: url("./img/vk.png");
}
.social__icon-fb {
background-image: url("./img/f.png");
}
.social__icon-in {
background-image: url("./img/in.png");
}

.social__icon-tg:hover {
  background-image: url("./img/tg.png");
     }
                
.social__icon-vk:hover {
     background-image: url("./img/vkontacteee.png");
     }
                
 .social__icon-fb:hover {
  background-image: url("./img/fbbb.png");
     }
                
.social__icon-in:hover {
   background-image: url("./img/instaa.png");
   }
   .logo__img2 {
    position: absolute;
    max-width: 65px;
    margin-left: 250px;
    margin-top: 20px;
   }